/* ADD YOUR STYLES HERE */

/*Center multiple arbitrary elements horizontally, with padding.*/

.triple-columns {
	/*display: inline-block;*/
	text-align: center;
	max-width: 100%
}

.triple-columns img {
	padding: 2%;
}

/*Works with different HTML...*/

.mixed-types {
	display: inline-block;
	vertical-align: top;
	margin: 15px
}

/*Vertically Spaced*/

/*Center arbitrary elements vertically, with padding.*/

.vertical-boxes {
	/*display: block;*/
	padding-top: 30px;
}

/*Works with different HTML...*/

.group {
	/*vertical-align: center;*/
	padding-top: 50px;
	margin-top: 20px;
}

/*Horizontal List

Make the list items horizontal instead of vertical.*/

.horizontal-list {
	display: inline-block;
}

.button {
	
  margin: 8px;
  background-color: #E78;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.one {
	padding: 20px 40px;
	font-size: 20px
}

.two {
	padding: 10px 20px;
}
.three {
	padding: 5px 10px;
	font-size: 10px
}

/*.button-uniform retools a set of buttons to look the same*/

.default {
	padding: 10px 20px;
	border: none;
}

/*Navigation

Create a navigation bar with links that are highlighted on hover.*/

nav {
    width: 700px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: salmon;
    border-radius: 8px;
}

nav ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

nav li { 
display: inline; 
padding: 20px; 
}

nav a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}

nav a:hover {
    color: #F90;
    background-color: #FFF;
}

/*pagination*/

.pagination {
	text-align: center;
	padding: 0;
}

.pagination li {
	display: inline-block;
	border-bottom: 2px solid peru;
	padding: 10px;
}

.pagination a {
	text-decoration: none;
	color: peru;
}

.pagination .span {
	border-bottom: 2px solid black;

}

.pagination span {
	color: black;
	padding: 10px;
}

.pagination li.prev-next {
	border: none;
}

/*Style a stream of user comments*/
/*Simmilar to facebook or twiter*/

.img {
	float: left;
	padding-right: 10px;	
}

.text {
	overflow: hidden;
}

.tweet {
	clear: left;
}

/*tabbed content*/

.tab-content {
	
	border: 1px solid #e78;
	border-radius: 10px;
	margin: -5px 0 0 0;
	padding: 15px;
	position: relative;	
}

.tab li {
	display: block;
	border: 1px solid #e78;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 10px;
	float: left;
	
	position: relative;
	top: 1px;
	z-index: 1;	
}

.tab-content {
	clear: left;
	position: relative;
}

.tab a {
	text-decoration: none;
	color: black;
}

.tab div {
	padding: 10px;
}

.tab .tab-selected {
	border-bottom-color: white;

}
